/*
.reveal .slides {
    text-align: left;
}
.reveal .slides section>* {
    margin-left: 0;
    margin-right: 0;
}
*/

.reveal .white-font h1 {
  color: #fff;
}

.white-font {
  color: #fff;
}

.gray-font {
  color: #342F2E;
}

.reveal .gray-font h1 {
  color: #342F2E;
}

.white-font a:link {color: #E4E0EE; text-decoration: none; }
.white-font a:active {color: #E4E0EE; text-decoration: none; }
.white-font a:visited {color: #E4E0EE; text-decoration: none; }
.white-font a:hover {color: #E4E0EE; text-decoration: underline; }

.reveal li {
  margin-left: 12%;
}

.reveal h1 {
  font-size: 3.2em;
}

.reveal h2 {
  font-size: 2.2em;
}

.reveal .slides p, .reveal .slides li, .reveal .slides ul {
  font-size: 48px;
  font-family: 'Droid Sans', sans-serif;
}

.reveal h1, .reveal .slides h2, .reveal .slides h3 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.reveal .slides .hcenter {
  text-align: center;
}

.reveal section img{
border: none;
}


.full {
    height:100%;
    width:100%;  
}

.reveal .caption {
     bottom:0px;
     left:0px;
     position:absolute;
     font-size: 12px;
}
